/*Global*/

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Color Pallet*/

.cherryBlossom {
    color: #f3e8ee;
}

.powderBlue {
    color: #9af0ff;
}

.electricViolet {
    color: #b0b0ff;
}

.dunkelBurg {
    color: #32213a;
}

.deepIndigo {
    color: #1f1524;
}


/*Elements*/
html {
    display: flex;
    flex-flow: column nowrap;  
    margin: 0;
}

head, body {
    display: flex;
    flex-flow: column nowrap;
    background-color: #1f1524;
}

body {
    justify-content: space-evenly;
    margin: 0 15% 0 15%;
}

h1 {
    display: flex;
    font-size: 2.5rem;
    font-weight: 800;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
    color: #9af0ff;
}

h2 {
    display: flex;
    font-size: 2rem;
    font-weight: 800;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
    color: #9af0ff;
}

p {
    display: flex;
    font-size: 1rem;
    font-weight: 300;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
    color: #9af0ff;
}

a {
    text-decoration: none;
    color: #9af0ff;
}

/*Attributes*/



/*Classes*/
.header {
    position: sticky;
    top: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    margin: 0 0 40px 0;
    background-color: #1f1524;
    background-repeat: no-repeat;
    background-size: 100% 5%;
    background-position: 100% 100%;
    border-bottom: 1px double #32213a;
}

img.header {
    justify-content: flex-start;
}

.header.navBar {
    justify-content: flex-end;
    align-items: center;
}

.navBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 20vw;
    min-width: fit-content;
}

.navMenuTop {
    margin: 0 5px 0 5px;
    color: #b0b0ff;
}

.socialLink {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 5px 0 5px;
}

.socialIcon {
    height: 20px;
    width: 20px;
}

.socialText {
    display: none;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    height: 400px;
}

.right {
    align-items: flex-end;
}

.left {
    align-items: flex-start;
}

.container.top {
    justify-content:space-around;
    height: 15vh;
    padding: 0 0 30vh 0;
}

/*IDs*/

#amLogo {
    height: 80px;
    width: 80px;
}

#socialMenu {
    display: flex;
    flex-flow: row nowrap;
}

#twitterIcon,#gitSocialIcon,#mailIcon {
    height: 20px;
    width: 20px;
    max-height: 20px;
    max-width: 20px;
}
